[Unit]
Description=Foldy Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=/foldy/deployment/foldy-in-a-box/prestartup.sh
ExecStart=/foldy/deployment/foldy-in-a-box/startup.sh
WorkingDirectory=/foldy
Restart=on-failure

[Install]
WantedBy=multi-user.target
