alembic
aniso8601
anyio
appdirs
arrow
asgiref
asn1crypto
astroid
attrs
Authlib
beautifulsoup4
biopython
black
Brotli
cachetools
certifi
cffi
chardet
click
coverage
croniter
cryptography
cssselect
cssutils
dnachisel
docker
docopt
email-to
environs
factory-boy
Faker
fastapi
flametree
Flask
Flask==2.3.3
# Flask-Admin>=1.6.1,<2.0.0
flask-admin==v2.0.0a3
Flask-Compress
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
flask-restx
git+https://github.com/Jacoberts/Flask-RQ2.git@3fed0bbd0af19d101f725718c9ace698bdcdcf2f#egg=Flask_RQ2
Flask-SQLAlchemy
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
gunicorn
h11
huggingface_hub[cli,hf_transfer]
idna
importlib-metadata
iniconfig
ipywidgets
isort
itsdangerous
Jinja2
jupyter
jsonschema
lazy-object-proxy
lxml
Mako
Markdown
MarkupSafe
marshmallow
mccabe
mypy-extensions
notebook
numpy==1.26.0
openpyxl
packaging
pandas==2.2.2
pathspec
pg8000
platformdirs
pluggy
premailer
proglog
prometheus-client
protobuf
psycopg2-binary
py
pyasn1
pyasn1-modules
pycparser
pydantic
PyJWT
pylint
pyparsing
pyrsistent
pytest
pytest-watch
python-codon-tables
python-dateutil
python-dotenv
python-editor
pytz
redis
regex
requests
rq
rq-dashboard
rq-scheduler
rsa
scipy
scikit-learn
scramp
seaborn
six
sniffio
soupsieve
SQLAlchemy
starlette
tenacity
text-unidecode
toml
tomli
tqdm
typed-ast
typing-extensions
urllib3
uvicorn
waitress
WebOb
websocket-client
WebTest
Werkzeug
wrapt
WTForms>=3.0.0,<4.0.0
zipp
